@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  /* border: 1px solid red; */
}

html, body {
  height: 100%;
}
body{
  font-size: 16px;
}
#reviewScrollable{
  height: calc(100vh - 300px);
}
#termsScrollable{
  height: calc(100vh - 250px);
}

.no-scrollbar::-webkit-scrollbar { 
      display: none; 
}

@media (max-width: 768px) {
  body{
    font-size: 14px;
  }
}